.cart {
  background-color: $gray-100;
  .cart-nav {
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      li {
        a {
          display: block;
          padding: 16px;
          border-radius: 10px;
          &:hover {
            background: #edd9f6;
            color: $primary;
          }
        }
      }
      .active {
        background: #edd9f6;
        color: $primary;
      }
    }
  }
}
