header {
    background: #D8F8E4;
    margin: 16px;

    @include md {
        margin: 5px;
        padding-bottom: 100px;
    }
}

.hero {
    img {
        @include xl {
            height: 600px;
            width: 100%;
            object-fit: cover;
        }
    }

    form {
        background: $light;
        display: inline-flex;
        padding: 8px;
        border-radius: 12px;

        @include md {
            display: block;
            padding: 10px 15px;
        }

        span {
            margin-left: 15px;
            color: $gray-500;
        }

        input {
            border: 0;
            padding: 14px 15px;
            background: none;

            @include md {
                padding: 20px 15px;
            }
            &:focus {
                border: 0;
                outline: none;
            }
        }

        button {
            @include md {
                width: 100%;
                margin-top: 10px;
                padding: 20px 0;
                font-size: 18px;
            }
        }
    }
}

.popular {
    .card-tile {
        position: relative;
        height: 200px;
        padding: 20px 18px;
        border-radius: 16px;
        margin-top: 50px;

        @include md {
            margin-bottom: 50px;
        }

        h2 {
            font-size: 28px;
            font-weight: 600;
        }

        p {
            font-size: 14px;
            font-weight: 500;
            color: $dark;
            margin-bottom: 5px;
            margin-top: 20px;
        }

        .women-img {
            position: absolute;
            bottom: 0;
            right: 8px;
        }

        .avatar {
            margin-left: 16px;

            img {
                height: 38px;
                width: 38px;
                border-radius: 50%;
                border: 2px solid $light;
                margin-left: -16px;
            }
        }
    }

    .green {
        background: #AFF4F9;
    }

    .red {
        background: #FFE0C2;
    }

    .yellow {
        background: #FFF8B0;
    }
}

footer {
  
    margin-top: 7em;
    padding-top:2em ;
    padding-bottom: 2em;
    background-color: #e8ebef;

    ul {
        list-style-type: none;
        padding: 0;
        margin: 0;
        margin-top: 2em;

        li {
            margin-top: 0.6em;
        }
    }
    p {
        margin-top: 6em;
    }

}